.no-padding {
    padding: 0 !important;
}
.topic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom {
    bottom: 0%;
}

.blue {
    background-color: cornflowerblue;
}

hr {
    text-align: center;
    border: none;
    border-top: 3px solid #333;
    color: #333;
    overflow: visible;
    height: 5px;
}

hr:after {
    content: attr(data-content);
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -10px;
}

.form-container {
    position: relative;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 80vw;
    height: 90vh;
    background-color: whitesmoke;
    z-index: 1;
    opacity: 0.98;
    padding-top: 5%;
}

.form-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.attribute {
    padding-bottom: 2%;
}

.home-bottom {
    position: absolute;
    bottom: 0%;
    padding-bottom: 5%;
}

.action-background {
    position: fixed;
    height: 70vh;
    width: 100vw;
    left: 0%;
}

.border-dotted {
    border: dotted;
}

.border-solid {
    border: solid;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}

.flex {
    display: flex !important;
}

.hidden {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.welcome_layout {
    width: 50%;
    margin: auto;
    border: solid;
    border-radius: 20px;
}

.width-one_thirds {
    width: 33%;
}

.welcome-description {
    border-bottom: solid;
    border-color: black;
}

.border-right-solid {
    border-right: solid;
    border-color: color;
}

.instuction-description {
    width: 80%;
    margin: 5% auto;
}

.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: black;
    cursor: pointer;
}

.qrcode-text-btn > input[type="file"] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}


.scanner_layout {
    border: 5px solid #1c6ea4;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin: auto;
}

.hide-visibility{
    visibility: none;
}