h1,
body,
p {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.login-div {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    bottom: 0%;
    background-color: white;
    border:solid;
}

/*Using Grid here*/

.login-div .login-button {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 25px;
    background-color: yellow;
    padding-right: 5%;
}

.login-div .login-button:hover {
    background-color: gray;
    cursor: pointer;
}

.login-div .profile {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.login-div .login-description {
    font-weight: bold;
    font-size: larger;
    color: #20a464;
    text-decoration: none;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: dotted;
}

.content-container .logo {
    text-shadow: 0px 0px 8px blue;
    color: #ffff66;
    font-size: 60px;
}

.content-container .personal-score-description {
    color: blue;
    font-size: 25px;
}

.content-container .personal-honey-earned {
    color: black;
    font-size: 50px;
}

.content-container .game-name {
    color: blue;
}

.background {
    position: fixed;
    height: 100%;
    width: 100vw;
    left: 0%;
    background-color: cornflowerblue;
    border: dashed;
}

#outlet{
    height:100%;
    width:100%;
}

.outlet{
    text-align: center;
}
