h1, body, p {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
}

.login-div {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Using Grid here*/

.login-div .login-button {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 25px;
    background-color: yellow;
}

.login-div .login-button:hover {
    background-color: gray;
    cursor: pointer;
}

.login-div .profile {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.login-div .login-description {
    font-weight: bold;
    font-size: larger;
    color: #20A464;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-container .logo {
    text-shadow: 0px 0px 8px blue;
    color: #FFFF66;
    font-size: 60px;
}

.content-container .personal-score-description {
    color: blue;
    font-size: 25px;
}

.content-container .personal-honey-earned {
    color: black;
    font-size: 30px;
    
}

.content-container .game-name {
    color: blue;
}

hr {
    text-align: center;
    border: none;
    border-top: 3px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    content: attr(data-content);
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -10px;
}

.background {
    position: fixed;
    height: 100%;
    width: 100vw;
    left: 0%;
    bottom: 0%;
}

#left-button {
    position: absolute;
    left: 2%;
    z-index: 1;
    cursor: pointer;
    border: solid;
    height: 100px;
}

#right-button {
    position: absolute;
    right: 2%;
    z-index: 1;
    cursor: pointer;
    border: solid;
    height: 100px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outlet-slider {
    width: 100%;
    height: 100%;
    position: relative;
    background: cornflowerblue;
    display: flex;
    overflow: hidden;
}

#outlet-slide {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    scroll-behavior: smooth;
}

#outlet-slide .outlet {
    left:1%;
    width: 100%;
    height: 90%;
    border: solid;
    text-align: center;
    flex-shrink: 0;
}

