.homepage-container {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

.homepage-container .login-div {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0%;
  bottom: 0%;
  background-color: white;
  border: solid;
  border-color: blue;
}

.homepage-container .login-div .rounded {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-color: yellow;
  padding-right: 5%;
}

.homepage-container .login-div .login-button {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.homepage-container .login-div .login-button:hover {
  background-color: gray;
}

.homepage-container .login-div .scan-button {
  display: grid;
  grid-template-areas: "profile scan" "profile recipt";
  text-align: center;
}

.homepage-container .login-div .scan-button .profile {
  grid-area: profile;
  justify-self: center;
  align-self: center;
}

.homepage-container .login-div .scan-button .description_1 {
  grid-area: scan;
}

.homepage-container .login-div .scan-button .description_2 {
  grid-area: recipt;
}

.homepage-container .login-div .profile {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.homepage-container .login-div .button-description {
  font-weight: bold;
  font-size: 15px;
  color: #20a464;
  text-decoration: none;
}

.homepage-container .login-div .button {
  position: relative;
}

.homepage-container .login-div .button .button-size {
  width: 70%;
  height: 100%;
}

.homepage-container .login-div .button .description {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-weight: bold;
}

.homepage-container .content-container {
  height: 30%;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: [logo] 30% [content score welcome] 20%;
  grid-template-areas: "logo logo logo logo logo logo logo logo" ". . content content content content switch switch" ". . score score score score switch switch" ". . . welcome welcome . . ." ". . . welcome welcome . . .";
  border: solid;
  border-color: green;
  text-align: center;
}

.homepage-container .content-container .logo {
  grid-area: logo;
  text-shadow: 0px 0px 8px blue;
  color: #ffff66;
  font-size: 100pt;
}

.homepage-container .content-container .personal-score-description {
  grid-area: content;
  color: blue;
  font-size: 40pt;
}

.homepage-container .content-container .personal-honey-earned {
  grid-area: score;
  color: black;
  font-size: 30pt;
}

.homepage-container .content-container .pr {
  padding-right: 10pt;
}

.homepage-container .content-container #langauge_switcher {
  grid-area: switch;
  width: 60px;
  height: 30px;
}

.homepage-container .content-container .welcome {
  grid-area: welcome;
  border: solid;
  border-radius: 25px;
}

.homepage-container .background {
  height: 60%;
  width: 100vw;
  left: 0%;
  background-color: cornflowerblue;
  border: solid;
  border-color: orange;
}

.homepage-container .background #outlet {
  height: 100%;
  width: 100%;
}

.homepage-container .background .outlet {
  text-align: center;
  font-size: 20pt;
}

@media screen and (min-device-width: 320px) and (orientation: portrait) {
  .homepage-container .content-container .logo {
    font-size: 30pt;
  }

  .homepage-container .content-container .personal-score-description {
    font-size: 15pt;
  }

  .homepage-container .content-container .personal-honey-earned {
    font-size: 13pt;
  }

  .homepage-container .content-container .language-selection {
    width: 70px;
  }

  .homepage-container .content-container .language-selection .font-larger {
    font-size: 13pt;
  }
}

@media screen and (min-device-width: 375px) and (orientation: portrait) {
  .homepage-container .content-container .logo {
    font-size: 35pt;
  }

  .homepage-container .content-container .personal-score-description {
    font-size: 15pt;
  }

  .homepage-container .content-container .personal-honey-earned {
    font-size: 13pt;
  }
}

@media screen and (min-device-width: 668px) and (orientation: portrait) {
  body {
    font-size: 15pt;
  }

  .homepage-container .content-container .logo {
    font-size: 70pt;
  }

  .homepage-container .content-container .language-selection {
    top: 20%;
    width: 120px;
    height: 40px;
  }

  .homepage-container .content-container .language-selection .font-larger {
    font-size: 20pt;
  }
}

@media only screen and (orientation: landscape) {
  .turn {
    display: block;
  }

  .homepage-container {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .turn {
    display: none;
  }

  .homepage-container {
    display: block;
  }
}

h1,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  vertical-align: middle;
}

.container {
  height: 100%;
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.bottom {
  bottom: 0%;
}

.blue {
  background-color: cornflowerblue;
}

.form-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.attribute {
  padding-bottom: 2%;
}

.home-bottom {
  position: absolute;
  bottom: 0%;
  padding-bottom: 5%;
}

.border-solid {
  border: solid;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

.flex {
  display: flex !important;
}

.hide-div {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.width-one_thirds {
  width: 33%;
}

.welcome-description {
  border-bottom: solid;
  border-color: black;
}

.border-right-solid {
  border-right: solid;
  border-color: color;
}

.qrcode-text-btn {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: black;
  cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.main-container {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

.main-container .topic {
  height: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container .topic .pt {
  padding-top: 5%;
}

.main-container .topic .pb {
  padding-bottom: 5%;
}

.main-container .topic .logo {
  font-size: 35pt;
}

.main-container .topic .game-name {
  font-size: 15pt;
}

.main-container .border-topic {
  border: solid;
  border-color: blue;
}

.main-container .form {
  height: 80%;
}

.main-container .form .form-container {
  position: relative;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 85vw;
  height: 95%;
  background-color: whitesmoke;
  z-index: 1;
  opacity: 0.98;
  padding-top: 5%;
}

.main-container .form .form-container .form-column .login-register {
  width: 60%;
  justify-content: space-between;
}

.main-container .form .form-container .welcome_layout {
  width: 100%;
  margin: auto;
  border: solid;
  border-radius: 20px;
}

.main-container .form .form-container .first_page .first_page_flex .instuction-description {
  width: 90%;
  text-align: justify;
  text-justify: auto;
  margin: 10% auto 20% auto;
}

.main-container .form .instruction-divider {
  top: 17%;
  position: absolute;
  z-index: 2;
}

.main-container .action-background {
  position: absolute;
  height: 70%;
  width: 100vw;
  left: 0%;
}

.main-container .border-background {
  border: solid;
  border-color: orange;
}

video {
  width: 80% !important;
  height: 80% !important;
}

.overlay__content {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 15pt !important;
  }

  .main-container .topic .logo {
    font-size: 70pt;
  }

  .main-container .topic .game-name {
    font-size: 30pt;
  }

  .main-container .form .form-container .form-column .login-register {
    width: 35%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .main-container .topic .logo {
    font-size: 30pt;
  }

  .main-container .form .form-container .form-column .attribute {
    height: 60px;
  }
}

