.homepage-container {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    .login-div {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0%;
        bottom: 0%;
        background-color: white;
        border: solid;
        border-color: blue;
        .rounded {
            width: 120px;
            height: 40px;
            border-radius: 50px;
            background-color: yellow;
            padding-right: 5%;
        }
        .login-button {
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-items: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                background-color: gray;
            }
        }
        .scan-button {
            display: grid;
            grid-template-areas:
                "profile scan"
                "profile recipt";
            text-align: center;
            .profile {
                grid-area: profile;
                justify-self: center;
                align-self: center;
            }
            .description_1 {
                grid-area: scan;
            }
            .description_2 {
                grid-area: recipt;
            }
        }
        .profile {
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: white;
        }
        .button-description {
            font-weight: bold;
            font-size: 15px;
            color: #20a464;
            text-decoration: none;
        }
        .button {
            position: relative;
            .button-size {
                width: 70%;
                height: 100%;
            }
            .description {
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: larger;
                font-weight: bold;
            }
        }
    }
    .content-container {
        height: 30%;
        display: grid;
        grid-template-columns: repeat(8 , 12.5%);
        grid-template-rows: [logo] 30% [content score welcome] 20%;
        grid-template-areas:
            "logo logo logo logo logo logo logo logo"
            ". . content content content content switch switch"
            ". . score score score score switch switch"
            ". . . welcome welcome . . ."
            ". . . welcome welcome . . .";
        border: solid;
        border-color: green;
        text-align: center;
        .logo {
            grid-area: logo;
            text-shadow: 0px 0px 8px blue;
            color: #ffff66;
            font-size: 100pt;
        }
        .personal-score-description {
            grid-area: content;
            color: blue;
            font-size: 40pt;
        }
        .personal-honey-earned {
            grid-area: score;
            color: black;
            font-size: 30pt;
        }
        .pr {
            padding-right: 10pt;
        }
        #langauge_switcher {
            grid-area: switch;
            width: 60px;
            height: 30px;
        }
        .welcome{
            grid-area: welcome;
            border:solid;
            border-radius: 25px;
        }
    }

    .background {
        height: 60%;
        width: 100vw;
        left: 0%;
        background-color: cornflowerblue;
        border: solid;
        border-color: orange;
        #outlet {
            height: 100%;
            width: 100%;
        }
        .outlet {
            text-align: center;
            font-size: 20pt;
        }
    }
}
