//iphone 5
@media screen and (min-device-width: 320px) and (orientation: portrait) {
    .homepage-container {
        .content-container {
            .logo {
                font-size: 30pt;
            }
            .personal-score-description {
                font-size: 15pt;
            }
            .personal-honey-earned {
                font-size: 13pt;
            }
            .language-selection {
                width: 70px;
                .font-larger {
                    font-size: 13pt;
                }
            }
        }
        .background {
        }
        .login-div {
        }
    }
}

//iphone 7
@media screen and (min-device-width: 375px) and (orientation: portrait) {
    .homepage-container {
        .content-container {
            .logo {
                font-size: 35pt;
            }
            .personal-score-description {
                font-size: 15pt;
            }
            .personal-honey-earned {
                font-size: 13pt;
            }
        }
        .background {
        }
        .login-div {
        }
    }
}

//ipad
@media screen and (min-device-width: 668px) and (orientation: portrait) {
    body {
        font-size: 15pt;
    }
    .homepage-container {
        .login-div {
        }
        .content-container {
            .logo {
                font-size: 70pt;
            }
            .language-selection {
                top: 20%;
                width: 120px;
                height: 40px;
                .font-larger {
                    font-size: 20pt;
                }
            }
        }
        .background {
        }
    }
}

//orienation lock
@media only screen and (orientation: landscape) {
    .turn {
        display: block;
    }
    .homepage-container {
        display: none;
    }
}
@media only screen and (orientation: portrait) {
    .turn {
        display: none;
    }
    .homepage-container {
        display: block;
    }
}
