h1,
body,
p {
    margin: 0;
    padding: 0;
}

a {
    vertical-align: middle;
}

.container {
    height: 100%;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.bottom {
    bottom: 0%;
}

.blue {
    background-color: cornflowerblue;
}

.form-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.attribute {
    padding-bottom: 2%;
}

.home-bottom {
    position: absolute;
    bottom: 0%;
    padding-bottom: 5%;
}

.border-solid {
    border: solid;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}

.flex {
    display: flex !important;
}

.hide-div {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.width-one_thirds {
    width: 33%;
}

.welcome-description {
    border-bottom: solid;
    border-color: black;
}

.border-right-solid {
    border-right: solid;
    border-color: color;
}

.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: black;
    cursor: pointer;
}

.qrcode-text-btn > input[type="file"] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.main-container {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    .topic {
        height: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .pt {
            padding-top: 5%;
        }
        .pb {
            padding-bottom: 5%;
        }
        .logo {
            font-size: 35pt;
        }
        .game-name {
            font-size: 15pt;
        }
    }
    .border-topic {
        border: solid;
        border-color: blue;
    }
    .form {
        height: 80%;
        .form-container {
            position: relative;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            min-height: 10em;
            width: 85vw;
            height: 95%;
            background-color: whitesmoke;
            z-index: 1;
            opacity: 0.98;
            padding-top: 5%;
            .form-column {
                .login-register {
                    width: 60%;
                    justify-content: space-between;
                }
            }
            .welcome_layout {
                width: 100%;
                margin: auto;
                border: solid;
                border-radius: 20px;
            }
            .first_page {
                .first_page_flex {
                    .instuction-description {
                        width: 90%;
                        text-align: justify;
                        text-justify: auto;
                        margin: 10% auto 20% auto;
                    }
                }
            }
        }
        .instruction-divider {
            top: 17%;
            position: absolute;
            z-index: 2;
        }
    }
    .action-background {
        position: absolute;
        height: 70%;
        width: 100vw;
        left: 0%;
    }
    .border-background {
        border: solid;
        border-color: orange;
    }
}

video{
    width: 80% !important;
    height: 80% !important;
}

.overlay__content{
    display: flex;
    justify-content: center;
}

//ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body{
        font-size: 15pt !important;
    }
    .main-container{
        .topic{
            .logo{
                font-size: 70pt;
            }
            .game-name{
                font-size: 30pt;
            }
        }
        .form{
            .form-container{
                .form-column{
                    .login-register{
                        width: 35%;
                    }
                }
            }
        }
    }
}

//iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .main-container{
        .topic{
            .logo{
                font-size:30pt;
            }
        }
        .form{
            .form-container{
                .form-column{
                    .attribute{
                        height:60px;
                    }
                }
            }
        }
    }
    
}

//iphone 7
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
}

//ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}